
<div ng-controller="PostsController" class='container' id='container'>
  <div class='post_form'>
    <form class="well form">
      <fieldset>
        <div>
          <input ng-model="newPost" id='post_content' class="span3" name='post_content' type='text' placeholder="Type something…">
          <input ng-click="addPost(newPost)" class='btn btn-primary' id='post_submit' type='submit' value='New Post'>
          
          <ul>
            <li ng-repeat="post in posts">
              {{post.text}}
              <span class="delete_post" ng-click="deletePost(post)"><img src="/images/delete_post.png" alt="x" />
            </li>
          </ul>

        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" href="#tab-container" data-toggle="collapse"><h3>Login/Signup</h3></a>
  </div>

  <div id='tab-container' class="accordion-body collapse">
    <div class="accordion-main">
      <% if session[:user_id] %>
        Hello <%= @user.name %>
      <% else %>
        <ul class='nav nav-tabs' id='nav_tabs'>
          <li class='active'>
            <a href='#login'>Login</a>
          </li>
          <li>
            <a href='#signup'>Signup</a>
          </li>
        </ul>

        <div class='tab-content'>
          <div class='tab-pane active' id='login'>
            <form action='/users/login' method='post'>
              <fieldset>
                <div>
                  <label for='email'>Email:</label>
                  <input name='email' type='text'>
                </div>
                <div>
                  <label for='password'>Password:</label>
                  <input name='password' type='password'>
                </div>
                <input class='button btn' type='submit' value='Login'>
              </fieldset>
            </form>
          </div>
          <div class='tab-pane' id='signup'>
            <form action='/users/signup' method='post'>
              <fieldset>
                <div>
                  <label for='name'>Name:</label>
                  <input name='name' type='text'>
                </div>
                <div>
                  <label for='email'>Email:</label>
                  <input name='email' type='text'>
                </div>
                <div>
                  <label for='password'>Password:</label>
                  <input name='password' type='password'>
                </div>
                <input class='button btn' type='submit' value='Signup'>
              </fieldset>
            </form>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>