%h2 Welcome.

%div#container
  %div.post_form
    %form{ :action => '/posts/', :method => 'post' }
      %fieldset
        %div
          %input{ :type => 'text', :name => 'post_content', :id => 'post_content' }
          %input{ :type => 'submit', :value => 'New Post', :id => 'post_submit', :class => 'btn' }

-if session[:user_id]
  Hello #{@user.name}. 
  %a{:href => "/users/logout"} Logout.
-else
  %div{ :id => "tab-container" }

    %ul{ :class => "nav nav-tabs", :id => "nav_tabs" }
      %li{ :class => "active" }
        %a{ :href => "#login" } Login
      %li
        %a{ :href => "#signup" } Signup

    %div{ :class => "tab-content" }
      %div{ :class => "tab-pane active", :id => "login"}
        %form{ :action => '/users/login', :method => 'post' }
          %fieldset
            %div
              %label{ :for => "email" } Email:
              %input{ :type => "text", :name => "email" }
            %div
              %label{ :for => "password" } Password:
              %input{ :type => "password", :name => "password" }
            %input{:type => "submit", :value => "Login", :class => "button btn"}

      %div{ :class => "tab-pane", :id => "signup" }
        %form{ :action => '/users/signup', :method => 'post' }
          %fieldset
            %div
              %label{ :for => "name" } Name:
              %input{ :type => "text", :name => "name" } 
            %div
              %label{ :for => "email" } Email:
              %input{ :type => "text", :name => "email" }
            %div
              %label{ :for => "password" } Password:
              %input{ :type => "password", :name => "password" }
            %input{:type => "submit", :value => "Signup", :class => "button btn"}
