!!!
%html
  %head
    %title #{@title}
    %script{ :type => "text/javascript", :src  => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
    %script{ :type => "text/javascript", :src  => "/javascript/underscore.js" }
    %script{ :type => "text/javascript", :src  => "/javascript/backbone.js" }
    %script{ :type => "text/javascript", :src  => "/javascript/application.js" }
    %script{ :type => "text/javascript", :src  => "/javascript/bootstrap-tab.js" }
    %link{ :rel => "stylesheet", :href => "/css/normalize.css" }
    %link{ :rel => "stylesheet", :href => "/css/layout.css" }
    %link{ :rel => "stylesheet", :href => "/css/bootstrap.css" }
    %link{ :rel => "stylesheet", :href => "/css/bootstrap-responsive.css" }
  %body
    -if flash[:message]
      %div.flash #{flash[:message]}
    
    =yield